
ReadTag/obj/Debug/ReadTag.csproj.FileListAbsolute.txt
ReadTag/obj/Debug/ReadTag.csproj.FileListAbsolute.txt
ReadTag/obj/Debug/ReadTag.pdb
.vs/ReadTag/v16/.suo
ReadTag/bin/Debug/ReadTag.exe
ReadTag/bin/Debug/ReadTag.pdb
ReadTag/obj/Debug/ReadTag.csproj.CoreCompileInputs.cache
*.cache
Presence Reader Connector/Debug/Presence Reader Connector.msi
.vs/ReadTag/v16/.suo
Presence Reader Connector/Debug/setup.exe
Presence Reader Connector/Presence Reader Connector.vdproj
ReadTag.sln
ReadTag/bin/Debug/ReadTag.exe
ReadTag/bin/Debug/ReadTag.pdb
ReadTag/obj/Debug/ReadTag.csproj.CoreCompileInputs.cache
ReadTag/obj/Debug/ReadTag.csproj.FileListAbsolute.txt
ReadTag/obj/Debug/ReadTag.csproj.GenerateResource.cache
ReadTag/obj/Debug/ReadTag.csprojAssemblyReference.cache
